body {
  background: rgb(186, 223, 240);
}

.App-header {
  margin: 20px 0;
  text-align: center;
  font-size: 42px;
  font-weight: 600;
}

.App-logo {
  max-width: 200px;
  display: inline;
  padding: 20px;
}

.App-footer {
  text-align: center;
  font-size: 12px;
}

